@(Html.BeginForm())
{
    <p> <label>User Name: <input type="text" name="username" value="" /></label></p>
    <p><label>Password: <input type="password" name="password" value="" /></label></p>
    <br />
   <p> <label> <input type="submit" value="Login" /></label>
</p>


@ViewBag.errMsg